@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --clr: #4071f4;
}

ul {
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr);
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination,
.pagination .links {
    display: flex;
    gap: 10px;
}

.pagination {
    width: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    caret-color: transparent;
}

.pagination button,
.pagination a {
    height: 100%;
    border: none;
    color: #777577;
    background-color: #f3f2f3;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: color, background-color 400ms;
}

.pagination button:not([disabled]):hover,
.pagination a:hover,
.pagination a.active {
    color: white;
    background-color: var(--clr);
}

.pagination button[disabled] {
    color: #b9b8b9;
    pointer-events: none;
}